{% extends "user_dashboard/dashboard.html" %}

{% block content %}
{% load static %}



<section class="login_box_area section_gap">
	<div class="container ">
		<div class="row d-flex align-items-center justify-content-center m-5">
			<!-- <div class="col-lg-6">
				<div class="login_box_img">
					<img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
					<div class="hover">
						<h4>New to our website?</h4>
						<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
						<a class="primary-btn" href="{% url 'signup' %}">Create an Account</a>
					</div>
				</div>
			</div> -->
			<div class="col-lg-6">
				<div class="login_form_inner">
					<h3>New Password</h3>
					<form class="row login_form" action="{% url 'change_password' %}" method="post" id="contactForm" novalidate="novalidate">
						{% csrf_token %}

						<div class="col-md-12 form-group m-2">
							<input type="password" class="form-control" id="password" name="old_password" placeholder="Old Password" onfocus="this.placeholder = ''">
							
						</div>
						<div class="col-md-12 form-group m-2">
							<input type="password" class="form-control" id="password" name="new_password" placeholder="New Password" onfocus="this.placeholder = ''">
								
				
						</div>
						<div class="col-md-12 form-group m-2">
							<input type="password" class="form-control" id="password" name="con_password" placeholder="Confirm Password" onfocus="this.placeholder = ''" >
								
				
						</div>
						<!-- <div class="col-md-12 form-group">
							<div class="creat_account">
								<input type="checkbox" id="f-option2" name="selector">
								<label for="f-option2">Keep me logged in</label>
							</div>
						</div> -->
						<div class="container">
							{% for message in messages %}
								{% if message.tags == 'error' %}
									<p class="text-center" style="color:red">{{ message }}</p>
								{% elif message.tags == 'success' %}
									<p class="text-center" style="color:green">{{ message }}</p>
								{% endif %}
							{% endfor %}
						</div>
						
						<div class="col-md-12 form-group">
							<button type="submit" value="submit" class="btn btn-primary">Change Password</button>
							{% if user.is_authenticated %}
							
	
							<a href="{% url 'user_profile' %}" type="submit" style="color: white;" class="btn btn-primary ">Cancel</a>
							<div class="col-md-12 form-group"></div>
						</div>
						</div>
					
					
				{% endif %}
			</form>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock %}