{% extends 'admin/admin_dashboard.html' %}
{% block content %}

<hr class="my-5" />

<!-- Hoverable Table rows -->

<div class="card mx-4">
    <h3 class="card-header">Coupons</h3>
    <div class="table-responsive text-nowrap">
        <table class="table table-hover">

            <div class="container">

                {% for error in messages %}
              
                <p class="text-center" style="color:red">{{error}}</p>
              
                {%endfor%}
              
              </div>

            <thead>
                
                <tr>
                    <th>Sl.No</th>
                    <th>Name</th>
                    <th>Offer valid Amount</th>
                    <th>Discount</th>
                    <th>Create Date</th>
                    <th> Status </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody class="table-border-bottom-0">
                {% for off in coupon %}
                <tr>
                    <td>{{ off.id }}</td>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ off.name }}</strong></td>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ off.offer_valid_amount}}</strong></td>
                    <td><i class="fab fa-angular fa-lg text-danger me-3"></i> <strong>{{ off.discount}}</strong></td>
                    <td>{{off.created_date}}</td>
              
                    

                    <td>
                        {% if not off.is_delete %}
                        <p>Unlisted</p>
                        {% else %}
                        <p>Listed</p>
                        {% endif %}
                    </td>
                    <td>
                        <div class="dropdown">
                            <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                <i class="bx bx-dots-vertical-rounded"></i>
                            </button>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#changeStatusModal{{ off.id }}">
                                    <i class="bx bx-edit-alt me-1"></i> Change status</a>
                              
                                <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteCategoryModal{{ off.id }}">
                                    <i class="bx bx-trash me-1"></i> Delete</a>
                            </div>
                        </div>
                    </td>
                </tr>
                

                <!-- Change status confirmation modal -->
                <div class="modal fade" id="changeStatusModal{{ off.id }}" tabindex="-1" role="dialog" aria-labelledby="changeStatusModalLabel{{ off.id }}" aria-hidden="true">
                    <!-- Modal content goes here -->
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="changeStatusModalLabel{{ off.id }}">Change Status</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to change the status of Coupon "{{ off.name }}"?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <a href="{% url 'coupon_status' off.id %}" class="btn btn-primary">Change Status</a>
                            </div>
                        </div>
                    </div>
                </div>

               
                


                <!-- Delete category confirmation modal -->
                <div class="modal fade" id="deleteCategoryModal{{ off.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteCategoryModalLabel{{ off.id }}" aria-hidden="true">
                    <!-- Modal content goes here -->
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteCategoryModalLabel{{ off.id }}">Delete Offers</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete Offer "{{ off.name }}"?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <a href="{% url 'delete_coupon' off.id %}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Delete category confirmation modal -->

                <!-- Add category  modal -->


                {% endfor %}
            </tbody>
        </table>
 
       <!-- ............... Add Coupon Butten.............   -->
    </div>
</div>
<div class="d-flex">
    <div class="ms-auto" style="margin-right: 200px ; margin-top:30px">
        <a class="btn btn-primary dropdown-item"  href="#" data-bs-toggle="modal" data-bs-target="#AddoffersModal"  role="button" style="color: white;">Add Coupon</a>
       
    </div>
</div>

     <!-- ............... Add Category Modal.............   -->

     <div class="modal fade" id="AddoffersModal" tabindex="-1" role="dialog" aria-labelledby="AddoffersModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="AddoffersModal">Add Coupon</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="post" action="{% url 'add_coupon' %}" id="addoffersForm">
                        {% csrf_token %}
                        <label for="category_name">Offer Name:</label>
                        <input type="text" name="name" class="form-control" value="" required>
                        <label for="discount">Offer Valid Amount:</label>
                        <input type="text" name="valid_amount" class="form-control" value="" required>
                        <label for="discount">Discount:</label>
                        <input type="text" name="discount" class="form-control" value="" required>
                   
                      
                        <!-- Add other fields as needed -->
                   
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" form="addoffersForm">Add Offer</button>
                </div>
            </div>
        </form>
        </div>
    </div>


{% endblock %}