{% extends 'admin/admin_dashboard.html' %}

{% block content %}
{% load static %}

<style>
    .related-images-container {
        display: flex;
        flex-wrap: wrap;
    }

    .related-image-wrapper {
        display: flex;
        align-items: flex-start;
        margin-bottom: 10px;
    }

    .image-container {
        flex: 1;
        margin-right: 10px;
    }

    .related-image {
        width: 100%;
        max-width: 100px;
        height: auto;
        object-fit: cover;
    }

    .button-container {
        flex-shrink: 0;
    }

    .image-checkbox {
        margin-top: 50px;
    }
</style>


<hr class="my-5" />

<!-- Hoverable Table rows -->
<div class="container">

  {% for error in messages %}

  <p class="text-center" style="color:red">{{error}}</p>

  {%endfor%}

</div>

<div class="card mx-4">
  <div class="d-flex">
  <h5 class="card-header">Product List</h5>
  <div class="ms-auto mx-5 my-3" >
        <a class="btn btn-primary dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#updateCategoryModal"  role="button" style="color: white;">Add Product</a>
      </div>
    </div>
    <div class="table-responsive text-nowrap">
      <table class="table table-hover">


      <thead>
        <tr>
          <th>Name</th>
          <th>Category</th>
          <th>Size and Stock</th>
          <th>Price</th>
          <th>Image</th>
          <th>Description</th>
          <th>Status</th>
          <th>Actions</th>
        </tr>
      </thead>
      
<tbody class="table-border-bottom-0">
  {% for pro in pro %}
  <tr>
      <td><i class="fab fa-angular fa-lg text-danger "></i> <strong>{{ pro.name }}</strong></td>

      <td>{{pro.sub_category.name}}</td>



      <td>
        <label for="sizeStockDropdown{{ pro.id }}">Select Size and Stock:</label>
        <select id="sizeStockDropdown{{ pro.id }}" class="form-select">
          {% for size in pro.product_size_set.all %}
            <option value="{{ size.size }}" data-stock="{{ size.stock }}">
              Size: {{ size.size }} | Stock: {{ size.stock }}
            </option>
          {% endfor %}
        </select>
      </td>

      <td>{{pro.price}}</td>
      <td>
        {% if pro.image %}
          <img style="border-radius: 0; width: 100px; height: 100px;" src="{{ pro.image.url }}" alt="Product Image">
        {%else%}
            No Images
        {% endif %}
      </td>
      <td>{{pro.description}}</td>
      <td>
          {% if not pro.is_deleted%}
          <p>Unlisted</p>
          {% else %}
          <p>Listed</p>
          {% endif %}
      </td>
      <td>
          <div class="dropdown">
              <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                  <i class="bx bx-dots-vertical-rounded"></i>
              </button>
              <div class="dropdown-menu">
                  <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editModal{{ pro.id }}">
                      <i class="bx bx-edit-alt me-1"></i> Edit
                  </a>

                  <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#listModal{{ pro.id }}">
                      <i class="bx bx-edit-alt me-1"></i> Change status
                  </a>
                  <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#deleteModal{{ pro.id }}">
                      <i class="bx bx-trash me-1"></i> Delete
                  </a>
                  <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#addSizeModal{{ pro.id }}">
                      <i class="bx bx-plus-circle me-1"></i> Add Size
                  </a>
                  <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#editSizeModal{{ pro.id }}">
                      <i class="bx bx-edit-alt me-1"></i> Edit Size
                  </a>
                  
                  </a>
              </div>
          </div>
      </td>
  </tr>
 
  <!-- Edit Modal -->
  <div class="modal fade" id="editModal{{ pro.id }}" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
    
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="editModalLabel">Edit Product</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form method="post" action="{% url 'update_product' pro.id %}" id="editModalLabel" enctype="multipart/form-data">
                  {% csrf_token %}
  
                  <label for="product_name">Product:</label>
                  <input type="text" name="product_name" class="form-control" value="{{pro.name}}" required>
  
                  
  
                  <label for="price">Price:</label>
                  <input type="text" name="price" class="form-control" value="{{pro.price}}" required>
  
                  <label for="price">Discount:</label>
                  <input type="text" name="discount" class="form-control" value="{{pro.discount}}" required>
                  <br>
                  
  
                  <label for="current_image">Current Main Image:</label>
                  {% if pro.image %}
                  <img src="{{ pro.image.url }}" alt="Current Image" style="max-width: 200px; max-height: 200px;">
                  {% else %}
                   No Images
                   {% endif %}
                  <br>
                  <input type="file" name="image" class="form-control" accept="image/*">
                  <!-- Add a hidden input field to store the current image URL -->
                  {% if pro.image %}
                  <input type="hidden" name="current_image" value="{{ pro.image.url }}">
              
                   {% endif %}
                  
                  <br>

                  <label for="current_image">Current Related Images:</label>
                  <br>
                  <br>
                  <div class="related-images-container">
                    {% for i in pro.product_image_set.all %}
                        <div class="related-image-wrapper">
                            <div class="image-container">
                              <img src="{{ i.image_url.url }}" alt="Current Image" class="related-image" data-id="{{ i.id }}">
                            </div>
                            <div class="button-container">
                                <!-- <button class="btn btn-danger delete-image-btn" data-id="{{ i.id }}">Delete</button> -->
                                <label for="image{{ i.id }}">Do you want to delete this image?</label>
                                <input type="checkbox" name="selected_images" id="image{{ i.id }}" value="{{ i.id }}" class="image-checkbox">
                              </div>
                        </div>
                        <input type="file" multiple name="related_images" class="form-control" data-id="{{ i.id }}" accept="image/*">
                        <input type="hidden" name="image_id_{{ i.id }}" value="{{ i.id }}">
                        

                        <br>
                    {% endfor %}
                </div>

                {% if pro.image %}
                <input type="hidden" name="related" value="{{ pro.image.url }}">            
                 {% endif %}
                
                
                
   
  
                  <label for="description">Description:</label>
                  <input type="text" name="description" class="form-control" value="{{pro.description}}" required>
  
                  <!-- Dropdown field -->
                  <div class="mb-3">
                      <label for="category_type" class="form-label">Category:</label>
                      <select class="form-select" name="category_type" id="category_type" required>
                          <option value="{{pro.sub_category.id}}">{{pro.sub_category.name}}</option>
                          {% for sub in sub %}
                          <option value="{{sub.id}}">{{sub.name}}</option>
                          {% endfor %}
                          <!-- Add more options as needed -->
                      </select>
                  </div>

                  
  
                  <button type="submit" data-bs-dismiss="modal" class="btn btn-danger">Cancel</button>
                  <button type="submit" class="btn btn-primary">Update Product</button>
              </form>
          </div>
      </div>
  </div>



  </div>


  <!-- Change status Modal -->
  <div class="modal fade" id="listModal{{ pro.id }}" tabindex="-1" role="dialog" aria-labelledby="listModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="listModalLabel">List Product - {{ pro.name }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to list this product?</p>
          <!-- Example: -->
          <a href="{% url 'product_status' pro.id %}" class="btn btn-primary">Change status</a>
        </div>
      </div>
    </div>
  </div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteModal{{ pro.id }}" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Delete Product - {{ pro.name }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this product?</p>
          <!-- Example: -->
          <a href="{% url 'delete_product' pro.id %}" class="btn btn-danger">Delete</a>
        </div>
      </div>
    </div>
  </div>

   <!-- ...........................ADD SiZE MODAL ..................................... -->

   <div class="modal fade" id="addSizeModal{{ pro.id }}" tabindex="-1" role="dialog" aria-labelledby="addSizeModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="addSizeModalLabel">Add Size - {{ pro.name }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'add_size' pro.id %}" id="addSizeForm">
            {% csrf_token %}
  
            <label for="size">Size:</label>
            <input type="text" name="size" class="form-control" value="" required>
            
            <label for="stock">Stock:</label>
            <input type="text" name="stock" class="form-control" value="" required>
  
            <button type="submit" class="btn btn-primary">Add Size</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- ...........................Edit SiZE MODAL ..................................... -->
<!-- Edit Size Modal -->
<div class="modal fade" id="editSizeModal{{ pro.id }}" tabindex="-1" role="dialog" aria-labelledby="editSizeModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editSizeModalLabel">Edit Sizes - {{ pro.name }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="post" action="{% url 'edit_size' pro.id %}" id="editSizesForm">
          {% csrf_token %}

          {% for size_obj in pro.product_size_set.all %}
            <div>
              <label for="size{{ size_obj.id }}">Size:</label>
              <input type="text" name="size{{ size_obj.id }}" class="form-control" value="{{ size_obj.size }}" required>
              
              <label for="stock{{ size_obj.id }}">Stock:</label>
              <input type="text" name="stock{{ size_obj.id }}" class="form-control" value="{{ size_obj.stock }}" required>
            </div>
          {% endfor %}
          
          <button type="submit" class="btn btn-primary">Update Sizes</button>
        </form>
      </div>
    </div>
  </div>
</div>



{% endfor %}
</tbody>
</table>
</div>
</div>

<!-- ................. Add Product ................. -->
   



<!-- Add category  modal -->

<div class="modal fade" id="updateCategoryModal" tabindex="-1" role="dialog" aria-labelledby="updateCategoryModalLabel" aria-hidden="true">
  <!-- Modal content goes here -->
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="updateCategoryModalLabel">Add Product</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form method="post" action="{% url 'add_Product' %}"  id="updateCategoryForm" enctype="multipart/form-data">
                {% csrf_token %}

                <label for="product_name">Product:</label>
                <input type="text" name="product_name" class="form-control" value="" required>

                <label for="price">Price:</label>
                <input type="text" name="price" class="form-control" value="" required>

                <label for="price">Discound:</label>
                <input type="text" name="discount" class="form-control" value="" required>

                <label for="image">Main Image:</label>
                <input type="file" name="m_image"  class="form-control" accept="image/*" required>
                
                <label for="image">Related Images:</label>
                <input type="file" name="r_images" multiple class="form-control" accept="image/*" required>

                <label for="description">Description:</label>
                <input type="text" name="description" class="form-control" value="" required>

                <!-- Dropdown field -->
                <div class="mb-3">
                    <label for="category_type" class="form-label">Category:</label>
                    <select class="form-select" name="category_type" id="category_type" required>
                        {% for sub in sub %}
                        <option value="{{sub.id}}">{{sub.name}}</option>
                        {% endfor %}
                        <!-- Add more options as needed -->
                    </select>
                </div>

                <button type="submit" class="btn btn-primary">Add Product</button>
            </form>
        </div>
    </div>
</div>




{% endblock %}